body {
	width: 960px;
	margin: 0 auto;
	}
	#header,
	header {
		display: block;
		width: 960px;
		height: 168px;
		max-height: 168px;
	}
	.content,
	article,
	#header,
	header,
	.sidebar,
	aside,
	#footer,
	footer {
		overflow: hidden;
	}
	.content,
	article,
	footer {
		float: left;
		width: 633px;
		}
	.sidebar,
	aside {
		float: right;
		width: 307px;
		}